body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
/* body{
  background: #141414;
  color: #fff;
} */
.movies{
 display: flex;
}
.image-container{
  position: relative;
  transition: transfrm 0.5s;
}
.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.image-container:hover .overlay{
  opacity: 3;
}
.overlay{
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  transition: 0.8s ease-in;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}